@using DotNetNuke.Collections
@using DotNetNuke.Web.Mvc.Helpers
@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<NitroSystem.Dnn.BusinessEngine.App.Web.Mvc.Models.ModuleView>

<div b-app>
    <div b-controller="moduleController" class="b--module @Model.RtlCssClass">
        @Html.Raw(Model.Template)
    </div>
</div>

@section scripts
{
    <script type="module">
        import BusinessEngineApp from "/DesktopModules/BusinessEngine/client-app/business-engine.esm.js";
        //import BusinessEngineApp from "http://localhost:6060/business-engine.esm.js";

        const module = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data));

            const appElement = document.querySelector('[b-app]');

             BusinessEngineApp.bootstrap(appElement, module, '@Model.Id', '@Model.ConnectionId');
    </script>
}
